@import "variables";

@mixin button($bgColor, $color) {
  padding: 1rem 3rem;
  background-color: $bgColor;
  border: 0.063rem solid transparent;
  transition: 0.5s;
  cursor: pointer;
  color: $color;

  a {
    color: $color;
  }

  &:hover {
    background-color: transparent;
    color: $bgColor;
    border: 0.063rem solid $color;
  }
}
