// COLORS
$black: black;
$white: white;
$darkGrey: #20211e;
$pink: #ff53a5;
$blue: #00bfcc;
$yellow: #F9F871;

// GREY GRADIENTS
$GR1: #A3CFCD;
$GR2: #82A0AA;
$GR3: #677381;
$GR4: #4B4A54;
$GR5: #2A272A;
$GR6: #000000;

// FONTS
$lato: "Lato", sans-serif;


/// cos

$background-color: #282828;
$bc_button: $GR1;
$text-color: $white;
$primary-color: $white;

$font-size-1: 1.3rem;
$font-size-2: 2rem;
$font-size-3: 4rem;
